@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Temporarily Unavailable";
}

<div class="container-fluid" style="background-color:white">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
    </div>
</div>
