@{
    ViewData["Title"] = "Contact Us";
    ViewData["Message"] = "We're here to help";
}

<div class="row text-center">
    <h1>@ViewData["Title"]</h1>
    <h4>@ViewData["Message"]</h4>
</div>
<hr />
<div class="row" align="center">
    <div class="col-md-6" style="position:relative">
        <div class="row">
            <img class="img-responsive" style="width:500px; height:400px;" src="~/images/Adobe/AdobeStock_108019109.jpeg" />
        </div>
        <div class="row" style="color: black;position:absolute;top:30%; width:100%;background-color:white; opacity:.9">
            <h2>General Inquires</h2>
            <p>For general inquires about Blocker Tech or services provided by us</p>
            <address>
                William Blocker <br />
                <a href="mailto:wmblocker@blockertech.com">wmblocker@blockertech.com</a>
            </address>
        </div>
    </div>
    <div class="col-md-6" style="position:relative">
        <div class="row">
            <img class="img-responsive" style="width:500px; height:400px;" src="~/images/Adobe/AdobeStock_87899286.jpeg" />
        </div>
        <div class="row" style="color: black;position:absolute;top:30%; width:100%;background-color:white; opacity:.9">
            <h2>Support</h2>
            <p>For Mobile, Web, and Desktop Applications</p>
            <address>
                Support Team<br />
                <a href="mailto:support@blockertech.com">support@blockertech.com</a>
            </address>
        </div>
    </div>
</div>
<hr />
