@{
    ViewData["Title"] = "Home Page";
}

<div id="header">
    <div class="row">
        <img id="headerImage" class="img-responsive" src="~/images/Adobe/AdobeStock_100000042.jpeg" />
    </div>
    <div class="container">
        <div class="row" id="headerContent">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center" id="headerContentBlock">
                <h1>Everyday applications to make your life easier</h1>
                <h4 style="margin-top:10%;text-decoration:underline">Learn more about our Mobile, Web, and Desktop Solutions</h4>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Solutions" style="text-align:center; margin-bottom:1em;">Learn More</a>
            </div>
            <div class="col-md-4 text-center"></div>

        </div>
    </div>
</div>


<div class="row" style="margin-bottom:1em;">
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/android-original.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/apple-original.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/bootstrap-plain.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/csharp-original.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/dot-net-original-wordmark.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/html5-original-wordmark.svg" /></div>
</div>
<div class="row">
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/java-original-wordmark.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/javascript-original.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/jquery-original-wordmark.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/nodejs-original.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/typescript-original.svg" /></div>
    <div class="col-xs-2"><img class="img-responsive" style="height:100px; width:100px" src="~/images/Solutions/rails-original-wordmark.svg" /></div>
</div>

<div class="row" style="margin:5em;">
    <h2 class="text-center">Building consistent, useful, and reliable cross-platform mobile applications with Apache Cordova</h2>
    <img class="img-responsive" src="~/images/Logo/cordova.png" style="margin:auto; display:block; margin-top:2em;"/>
    <div align="center">
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Solutions" style="text-align:center">Learn More</a>
    </div>

</div>