
@{
    ViewData["Title"] = "Solutions";
}


    <h2 class="text-center" style="margin-bottom:2em;">Solutions</h2>
    <ul class="nav nav-pills" style="float:left;">
        <li class="active"><a style=" border-radius:0px;" data-toggle="pill" href="#phonedetective">Phone Detective</a></li>
        <li><a style=" border-radius:0px;" data-toggle="tab" href="#hero">HeRO</a></li>
        <li><a style=" border-radius:0px;" data-toggle="tab" href="#powerofflock">Power-Off Lock</a></li>
    </ul>
<br />
    <div class="tab-content">
        <div id="phonedetective" class="tab-pane fade in active">
            <div class="container">
                <hr />
                <h3>Phone Detective <span style="font-size:12px" class="label label-success">Android</span></h3>
                <h5>Your all-in-one solution to monitoring phone activity</h5>
                <h6 class="text-danger">Beta Testing</h6>
                <div class="col-md-6">
                    <div class="container-fluid" style="margin-top:5%;">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Messages</h3>
                                <p>Gain access to your peers most recent outgoing and incoming messages.</p>
                            </div>
                            <div class="col-md-6" style="border-left:1px solid #eee">
                                <h3>Call Logs</h3>
                                <p>Monitor recent incoming and outgoing calls with detailed information including:</p>
                                <ul>
                                    <li>Dialed Number</li>
                                    <li>Time Received/Dialed</li>
                                    <li>Duration of Call</li>
                                </ul>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6" style="border-right:1px solid #eee">
                                <h3>Locations</h3>
                                <p>
                                    Monitor your peers most recent locations with detailed information including:
                                </p>
                                <ul>
                                    <li>Full Addresses</li>
                                    <li>Time Arrived/Departed</li>
                                    <li>A Responsive Map With Recent Locations</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3>Photos</h3>
                                <p>View recent pictures taken by your peers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="~/images/Adobe/Phone Detective@1x.png" />
                </div>
            </div>
        </div>
        <div id="powerofflock" class="tab-pane fade">
            <div class="container">
                <hr />
                <h3>Power-Off Lock <span style="font-size:12px" class="label label-primary">Mobile</span></h3>
                <h5>Require a password to power-off your device</h5>
                <div class="col-md-12">
                    <h3>Coming Soon</h3>
                </div>
            </div>
        </div>
        <div id="hero" class="tab-pane fade">
            <div class="container">
                <hr />
                <h3>HeRO <span style="font-size:12px" class="label label-primary">Desktop</span></h3>
                <div class="col-md-6">
                    <p>
                        The Classroom Technology Help Resources Online (HeRO) app organizes and presents all the information and self-help resources for using technology in classrooms and labs in one place so it is easier to find. The app also enables OTS to send announcements about classroom and lab spaces,
                        e.g. a repair update, an outage, information on new technologies, etc.
                    </p><br />
                    <p>HeRO is only available to the Faculty and Staff of Towson University. More information can be found at <a href="https://inside.towson.edu/tu-software/">https://inside.towson.edu/tu-software/</a></p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" style="display:block; margin:auto" src="~/images/Solutions/HeRO.png"/>
                </div>
            </div>
        </div>
    </div>
<hr />