@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Please contact our support team <a href="mailto:support@blockertech.com">support@blockertech.com</a></h3>
