@{
    ViewData["Title"] = "Confirmation Email Sent";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for registering an account with Blocker Technologies.
    </p>
    <div class="well">
        <p class="text-danger">You must verify your email to use any of our services. Please verify your email with the confirmation that was sent to your email.</p>
    </div>
</div>